<?xml version = "1.0"?>
<robot name = "elevator">

  <link name = "front">
    <visual>
      <geometry>
        <box size = "2 2 2"/>
      </geometry>
      <origin rpy = "0 0 0" xyz = "0 0 0"/>
    </visual>
  </link>

  <link name = "door">
    <visual>
      <geometry>
        <box size = "1 1 1"/>
      </geometry>
      <origin rpy = "0 0 0" xyz = "0 0 0"/>
    </visual>
  </link>

  <joint name = "front_to_door" type = "fixed">
    <parent link = "front"/>
    <child link = "door"/>
    <origin xyz = "0 -2 1"/>
  </joint>

</robot>
