<?xml version = "1.0"?>
<robot name = "elevator">

	<link name = "floor">
		<visual>
			<origin xyz = "0 0 -0.25" rpy = "0 0 0"/>
			<geometry>
				<box size = "3 2.75 0.5"/>
			</geometry>
		</visual>

		<collision>
			<origin xyz = "0 0 -0.25" rpy = "0 0 0"/>
			<geometry>
				<box size = "3 2.75 0.5"/>
			</geometry>
		</collision>

		<inertial>
			<mass value = "50"/>
			<origin xyz = "0 0 -0.5"/>
			<inertia ixx = '50.0' ixy = "0.0" ixz = "0.0" iyy = "50.0" iyz = "0.0" izz = "50.0"/>
		</inertial>
	</link>

	<link name = "front_wall_exterior">
		<visual>
			<origin xyz = "-0.75 1.3125 1.5" rpy = "0 0 0"/>
			<geometry>
				<box size = "1.5 0.125 3"/>
			</geometry>
		</visual>

		<collision>
			<origin xyz = "-0.75 1.3125 1.5" rpy = "0 0 0"/>
			<geometry>
				<box size = "1.5 0.125 3"/>
			</geometry>
		</collision>
	</link>

	<link name = "front_wall_interior">
		<visual>
			<origin xyz = "-0.75 1.0 1.5" rpy = "0 0 0"/>
			<geometry>
				<box size = "1.5 0.125 3"/>
			</geometry>
		</visual>

		<collision>
			<origin xyz = "-0.75 1.0 1.5" rpy = "0 0 0"/>
			<geometry>
				<box size = "1.5 0.125 3"/>
			</geometry>
		</collision>
	</link>

	<link name = "back_wall">
		<visual>
			<origin xyz = "0 -1.25 1.5" rpy = "0 0 0"/>
			<geometry>
				<box size = "3 0.25 3"/>
			</geometry>
		</visual>

		<collision>
			<origin xyz = "0 -1.25 1.5" rpy = "0 0 0"/>
			<geometry>
				<box size = "3 0.25 3"/>
			</geometry>
		</collision>
	</link>

	<joint name = "front_exterior_ground_joint" type = "fixed">
		<parent link = "floor"/>
		<child link = "front_wall_exterior"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<joint name = "front_interior_ground_joint" type = "fixed">
		<parent link = "floor"/>
		<child link = "front_wall_interior"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<joint name = "back_ground_joint" type = "fixed">
		<parent link = "floor"/>
		<child link = "back_wall"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<gazebo>
		<static>true</static>
	</gazebo>

</robot>

