<robot name="person">
  <material name="red">
    <color rgba="0 0 0.8 1"/>
  </material>
  <link name="body">
    <visual>
      <origin xyz="0 0 0.8615" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.287" length="1.723"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.8615" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.287" length="1.723"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="58.927"/>
      <origin xyz="0 0 0.8615"/>
      <inertia ixx="14.578" ixy="0.0" ixz="0.0" iyy="14.578" iyz="0.0" izz="2.427"/>
    </inertial>
  </link>
  <link name="head">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.144" length="0.287"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.144" length="0.287"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="9.815"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <joint name="joint" type="fixed">
    <parent link="body"/>
    <child link="head"/>
    <origin xyz="0 0 1.8665" rpy="0 0 0"/>
  </joint>
  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>vel_person3</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>head</robotBaseFrame>
    </plugin>
  </gazebo>
</robot>
