<robot name="hallway">
  <link name="base">
    <visual>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <geometry>
        <box size="59.66 62.14 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <geometry>
        <box size="59.66 62.14 0.2"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="50.0"/>
      <origin xyz="0 0 -0.1"/>
      <inertia ixx="50.0" ixy="0.0" ixz="0.0" iyy="50.0" iyz="0.0" izz="50.0"/>
    </inertial>
  </link>
  <link name="1_int_side_0">
    <visual>
      <origin xyz="-2.85 0.0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.9 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-2.85 0.0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.9 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_1_int_side_0" type="fixed">
    <parent link="base"/>
    <child link="1_int_side_0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="1_int_side_1">
    <visual>
      <origin xyz="0.0 2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_1_int_side_1" type="fixed">
    <parent link="base"/>
    <child link="1_int_side_1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="1_int_side_2_left">
    <visual>
      <origin xyz="2.85 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.7 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="2.85 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.7 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_1_int_side_2_left" type="fixed">
    <parent link="base"/>
    <child link="1_int_side_2_left"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="1_int_side_2_right">
    <visual>
      <origin xyz="2.85 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.7 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="2.85 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.7 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_1_int_side_2_right" type="fixed">
    <parent link="base"/>
    <child link="1_int_side_2_right"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="1_int_side_3">
    <visual>
      <origin xyz="0.0 -2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 -2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_1_int_side_3" type="fixed">
    <parent link="base"/>
    <child link="1_int_side_3"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_1_left_wall">
    <visual>
      <origin xyz="5.45 2.6 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="5.45 2.6 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_1_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_1_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_1_right_wall">
    <visual>
      <origin xyz="5.45 -2.6 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="5.45 -2.6 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_1_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_1_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_1_left_conn">
    <visual>
      <origin xyz="7.95 2.26 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.88 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="7.95 2.26 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.88 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_1_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_1_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_1_right_conn">
    <visual>
      <origin xyz="7.95 -2.26 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.88 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="7.95 -2.26 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.88 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_1_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_1_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_2_left_wall">
    <visual>
      <origin xyz="10.235 1.92 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.57 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="10.235 1.92 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.57 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_2_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_2_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_2_right_wall">
    <visual>
      <origin xyz="10.235 -1.92 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.57 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="10.235 -1.92 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.57 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_2_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_2_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_2_left_conn">
    <visual>
      <origin xyz="12.52 2.18 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.72 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="12.52 2.18 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.72 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_2_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_2_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_2_right_conn">
    <visual>
      <origin xyz="12.52 -2.18 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.72 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="12.52 -2.18 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.72 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_2_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_2_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_3_left_wall">
    <visual>
      <origin xyz="15.355 2.44 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.67 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="15.355 2.44 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.67 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_3_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_3_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_3_right_wall">
    <visual>
      <origin xyz="15.355 -2.44 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.67 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="15.355 -2.44 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.67 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_3_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_3_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_3_left_conn">
    <visual>
      <origin xyz="18.19 2.32 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.44 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="18.19 2.32 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.44 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_3_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_3_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_3_right_conn">
    <visual>
      <origin xyz="18.19 -2.32 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.44 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="18.19 -2.32 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.44 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_3_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_3_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_4_left_wall">
    <visual>
      <origin xyz="20.035 2.2 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.69 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="20.035 2.2 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.69 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_4_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_4_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_4_right_wall">
    <visual>
      <origin xyz="20.035 -2.2 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.69 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="20.035 -2.2 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.69 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_4_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_4_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_4_left_conn">
    <visual>
      <origin xyz="21.88 2.4 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.6 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="21.88 2.4 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.6 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_4_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_4_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_4_right_conn">
    <visual>
      <origin xyz="21.88 -2.4 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.6 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="21.88 -2.4 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.6 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_4_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_4_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_5_left_wall">
    <visual>
      <origin xyz="24.38 2.6 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="24.38 2.6 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_5_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_5_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_5_right_wall">
    <visual>
      <origin xyz="24.38 -2.6 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="24.38 -2.6 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_5_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_5_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_0_left">
    <visual>
      <origin xyz="26.98 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.7 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="26.98 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.7 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_0_left" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_0_left"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_0_right">
    <visual>
      <origin xyz="26.98 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.7 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="26.98 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.7 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_0_right" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_0_right"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_1_left">
    <visual>
      <origin xyz="32.18 2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.7 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.18 2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.7 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_1_left" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_1_left"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_1_right">
    <visual>
      <origin xyz="27.48 2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.7 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="27.48 2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.7 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_1_right" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_1_right"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_2_left">
    <visual>
      <origin xyz="32.68 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.7 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.68 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.7 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_2_left" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_2_left"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_2_right">
    <visual>
      <origin xyz="32.68 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.7 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.68 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.7 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_2_right" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_2_right"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_3">
    <visual>
      <origin xyz="29.83 -2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="29.83 -2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_3" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_3"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_1_left_wall">
    <visual>
      <origin xyz="32.43 5.45 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.43 5.45 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_1_left_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_1_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_1_right_wall">
    <visual>
      <origin xyz="-32.43 5.45 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-32.43 5.45 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_1_right_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_1_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_1_left_conn">
    <visual>
      <origin xyz="32.2475 7.95 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.565 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.2475 7.95 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.565 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_1_left_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_1_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_1_right_conn">
    <visual>
      <origin xyz="32.2475 -7.95 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.565 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.2475 -7.95 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.565 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_1_right_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_1_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_2_left_wall">
    <visual>
      <origin xyz="32.065 10.92 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.94 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.065 10.92 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.94 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_2_left_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_2_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_2_right_wall">
    <visual>
      <origin xyz="-32.065 10.92 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.94 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-32.065 10.92 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.94 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_2_right_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_2_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_2_left_conn">
    <visual>
      <origin xyz="31.84 13.89 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.65 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="31.84 13.89 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.65 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_2_left_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_2_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_2_right_conn">
    <visual>
      <origin xyz="31.84 -13.89 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.65 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="31.84 -13.89 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.65 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_2_right_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_2_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_3_left_wall">
    <visual>
      <origin xyz="31.615 16.545 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.31 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="31.615 16.545 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.31 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_3_left_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_3_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_3_right_wall">
    <visual>
      <origin xyz="-31.615 16.545 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.31 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-31.615 16.545 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.31 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_3_right_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_3_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_3_left_conn">
    <visual>
      <origin xyz="31.8675 19.2 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.705 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="31.8675 19.2 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.705 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_3_left_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_3_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_3_right_conn">
    <visual>
      <origin xyz="31.8675 -19.2 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.705 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="31.8675 -19.2 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.705 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_3_right_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_3_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_4_left_wall">
    <visual>
      <origin xyz="32.12 21.16 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 3.92 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.12 21.16 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 3.92 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_4_left_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_4_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_4_right_wall">
    <visual>
      <origin xyz="-32.12 21.16 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 3.92 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-32.12 21.16 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 3.92 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_4_right_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_4_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_4_left_conn">
    <visual>
      <origin xyz="32.275 23.12 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.51 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.275 23.12 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.51 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_4_left_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_4_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_4_right_conn">
    <visual>
      <origin xyz="32.275 -23.12 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.51 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.275 -23.12 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.51 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_4_right_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_4_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_5_left_wall">
    <visual>
      <origin xyz="32.43 25.62 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.43 25.62 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_5_left_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_5_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_5_right_wall">
    <visual>
      <origin xyz="-32.43 25.62 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-32.43 25.62 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_5_right_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_5_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>
