<robot name="hallway">
  <link name="base">
    <visual>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <geometry>
        <box size="51.46 51.02 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <geometry>
        <box size="51.46 51.02 0.2"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="50.0"/>
      <origin xyz="0 0 -0.1"/>
      <inertia ixx="50.0" ixy="0.0" ixz="0.0" iyy="50.0" iyz="0.0" izz="50.0"/>
    </inertial>
  </link>
  <link name="1_int_side_0">
    <visual>
      <origin xyz="-2.85 0.0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.9 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-2.85 0.0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.9 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_1_int_side_0" type="fixed">
    <parent link="base"/>
    <child link="1_int_side_0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="1_int_side_1">
    <visual>
      <origin xyz="0.0 2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_1_int_side_1" type="fixed">
    <parent link="base"/>
    <child link="1_int_side_1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="1_int_side_2_left">
    <visual>
      <origin xyz="2.85 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.9 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="2.85 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.9 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_1_int_side_2_left" type="fixed">
    <parent link="base"/>
    <child link="1_int_side_2_left"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="1_int_side_2_right">
    <visual>
      <origin xyz="2.85 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.9 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="2.85 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.9 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_1_int_side_2_right" type="fixed">
    <parent link="base"/>
    <child link="1_int_side_2_right"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="1_int_side_3">
    <visual>
      <origin xyz="0.0 -2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 -2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_1_int_side_3" type="fixed">
    <parent link="base"/>
    <child link="1_int_side_3"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_1_left_wall">
    <visual>
      <origin xyz="5.45 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="5.45 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_1_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_1_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_1_right_wall">
    <visual>
      <origin xyz="5.45 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="5.45 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_1_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_1_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_1_left_conn">
    <visual>
      <origin xyz="7.95 2.135 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.63 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="7.95 2.135 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.63 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_1_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_1_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_1_right_conn">
    <visual>
      <origin xyz="7.95 -2.135 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.63 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="7.95 -2.135 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.63 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_1_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_1_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_2_left_wall">
    <visual>
      <origin xyz="11.06 1.92 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="6.22 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="11.06 1.92 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="6.22 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_2_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_2_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_2_right_wall">
    <visual>
      <origin xyz="11.06 -1.92 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="6.22 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="11.06 -1.92 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="6.22 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_2_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_2_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_2_left_conn">
    <visual>
      <origin xyz="14.17 2.1225 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.605 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="14.17 2.1225 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.605 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_2_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_2_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_2_right_conn">
    <visual>
      <origin xyz="14.17 -2.1225 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.605 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="14.17 -2.1225 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.605 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_2_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_2_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_3_left_wall">
    <visual>
      <origin xyz="16.515 2.325 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.69 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="16.515 2.325 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.69 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_3_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_3_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_3_right_wall">
    <visual>
      <origin xyz="16.515 -2.325 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.69 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="16.515 -2.325 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.69 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_3_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_3_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_3_left_conn">
    <visual>
      <origin xyz="18.86 2.2875 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.275 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="18.86 2.2875 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.275 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_3_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_3_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_3_right_conn">
    <visual>
      <origin xyz="18.86 -2.2875 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.275 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="18.86 -2.2875 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.275 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_3_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_3_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_4_left_wall">
    <visual>
      <origin xyz="21.28 2.25 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.84 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="21.28 2.25 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.84 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_4_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_4_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_4_right_wall">
    <visual>
      <origin xyz="21.28 -2.25 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.84 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="21.28 -2.25 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.84 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_4_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_4_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_4_left_conn">
    <visual>
      <origin xyz="23.7 2.17 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.36 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="23.7 2.17 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.36 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_4_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_4_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_4_right_conn">
    <visual>
      <origin xyz="23.7 -2.17 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.36 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="23.7 -2.17 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.36 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_4_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_4_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_5_left_wall">
    <visual>
      <origin xyz="25.87 2.09 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.34 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="25.87 2.09 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.34 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_5_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_5_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_5_right_wall">
    <visual>
      <origin xyz="25.87 -2.09 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.34 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="25.87 -2.09 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.34 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_5_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_5_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_5_left_conn">
    <visual>
      <origin xyz="28.04 2.1525 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.325 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="28.04 2.1525 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.325 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_5_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_5_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_5_right_conn">
    <visual>
      <origin xyz="28.04 -2.1525 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.325 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="28.04 -2.1525 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.325 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_5_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_5_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_6_left_wall">
    <visual>
      <origin xyz="29.975 2.215 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.87 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="29.975 2.215 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.87 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_6_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_6_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_6_right_wall">
    <visual>
      <origin xyz="29.975 -2.215 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.87 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="29.975 -2.215 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.87 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_6_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_6_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_6_left_conn">
    <visual>
      <origin xyz="31.91 2.02 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.59 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="31.91 2.02 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.59 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_6_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_6_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_6_right_conn">
    <visual>
      <origin xyz="31.91 -2.02 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.59 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="31.91 -2.02 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.59 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_6_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_6_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_7_left_wall">
    <visual>
      <origin xyz="34.845 1.825 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.87 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="34.845 1.825 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.87 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_7_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_7_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_7_right_wall">
    <visual>
      <origin xyz="34.845 -1.825 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.87 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="34.845 -1.825 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.87 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_7_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_7_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_7_left_conn">
    <visual>
      <origin xyz="37.78 1.75 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.35 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="37.78 1.75 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.35 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_7_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_7_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_7_right_conn">
    <visual>
      <origin xyz="37.78 -1.75 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.35 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="37.78 -1.75 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.35 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_7_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_7_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_8_left_wall">
    <visual>
      <origin xyz="39.9 1.675 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.24 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="39.9 1.675 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.24 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_8_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_8_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_8_right_wall">
    <visual>
      <origin xyz="39.9 -1.675 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.24 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="39.9 -1.675 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.24 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_8_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_8_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_8_left_conn">
    <visual>
      <origin xyz="42.02 1.88 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.61 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="42.02 1.88 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.61 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_8_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_8_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_8_right_conn">
    <visual>
      <origin xyz="42.02 -1.88 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.61 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="42.02 -1.88 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.61 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_8_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_8_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_9_left_wall">
    <visual>
      <origin xyz="44.195 2.085 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.35 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="44.195 2.085 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.35 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_9_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_9_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_9_right_wall">
    <visual>
      <origin xyz="44.195 -2.085 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.35 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="44.195 -2.085 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.35 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_9_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_9_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_9_left_conn">
    <visual>
      <origin xyz="46.37 2.2175 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.465 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="46.37 2.2175 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.465 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_9_left_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_9_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_9_right_conn">
    <visual>
      <origin xyz="46.37 -2.2175 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.465 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="46.37 -2.2175 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.465 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_9_right_conn" type="fixed">
    <parent link="base"/>
    <child link="2_sec_9_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_10_left_wall">
    <visual>
      <origin xyz="48.87 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="48.87 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_10_left_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_10_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="2_sec_10_right_wall">
    <visual>
      <origin xyz="48.87 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="48.87 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.0 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_sec_10_right_wall" type="fixed">
    <parent link="base"/>
    <child link="2_sec_10_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_0_left">
    <visual>
      <origin xyz="51.47 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.9 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="51.47 -2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.9 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_0_left" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_0_left"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_0_right">
    <visual>
      <origin xyz="51.47 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.9 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="51.47 2.35 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.9 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_0_right" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_0_right"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_1_left">
    <visual>
      <origin xyz="56.67 2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="56.67 2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_1_left" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_1_left"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_1_right">
    <visual>
      <origin xyz="51.97 2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="51.97 2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_1_right" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_1_right"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_2">
    <visual>
      <origin xyz="57.17 0.0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.9 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="57.17 0.0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.9 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_2" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_2"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="3_int_side_3">
    <visual>
      <origin xyz="54.32 -2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="54.32 -2.85 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_int_side_3" type="fixed">
    <parent link="base"/>
    <child link="3_int_side_3"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_1_left_wall">
    <visual>
      <origin xyz="56.67 5.45 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="56.67 5.45 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_1_left_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_1_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_1_right_wall">
    <visual>
      <origin xyz="51.97 5.45 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="51.97 5.45 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_1_right_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_1_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_1_left_conn">
    <visual>
      <origin xyz="56.55 7.95 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.44 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="56.55 7.95 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.44 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_1_left_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_1_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_1_right_conn">
    <visual>
      <origin xyz="52.09 7.95 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.44 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="52.09 7.95 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.44 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_1_right_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_1_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_2_left_wall">
    <visual>
      <origin xyz="56.43 9.785 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 3.67 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="56.43 9.785 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 3.67 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_2_left_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_2_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_2_right_wall">
    <visual>
      <origin xyz="52.21 9.785 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 3.67 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="52.21 9.785 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 3.67 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_2_right_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_2_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_2_left_conn">
    <visual>
      <origin xyz="56.3825 11.62 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.295 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="56.3825 11.62 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.295 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_2_left_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_2_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_2_right_conn">
    <visual>
      <origin xyz="52.2575 11.62 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.295 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="52.2575 11.62 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.295 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_2_right_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_2_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_3_left_wall">
    <visual>
      <origin xyz="56.335 14.59 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.94 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="56.335 14.59 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.94 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_3_left_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_3_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_3_right_wall">
    <visual>
      <origin xyz="52.305 14.59 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.94 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="52.305 14.59 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.94 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_3_right_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_3_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_3_left_conn">
    <visual>
      <origin xyz="56.5025 17.56 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.535 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="56.5025 17.56 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.535 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_3_left_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_3_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_3_right_conn">
    <visual>
      <origin xyz="52.1375 17.56 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.535 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="52.1375 17.56 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.535 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_3_right_conn" type="fixed">
    <parent link="base"/>
    <child link="4_sec_3_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_4_left_wall">
    <visual>
      <origin xyz="56.67 20.06 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="56.67 20.06 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_4_left_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_4_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="4_sec_4_right_wall">
    <visual>
      <origin xyz="51.97 20.06 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="51.97 20.06 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.0 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_sec_4_right_wall" type="fixed">
    <parent link="base"/>
    <child link="4_sec_4_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="5_int_side_0_left">
    <visual>
      <origin xyz="51.47 23.16 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.9 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="51.47 23.16 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.9 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_5_int_side_0_left" type="fixed">
    <parent link="base"/>
    <child link="5_int_side_0_left"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="5_int_side_0_right">
    <visual>
      <origin xyz="51.47 27.86 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.9 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="51.47 27.86 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.9 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_5_int_side_0_right" type="fixed">
    <parent link="base"/>
    <child link="5_int_side_0_right"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="5_int_side_1">
    <visual>
      <origin xyz="54.32 28.36 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="54.32 28.36 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.9 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_5_int_side_1" type="fixed">
    <parent link="base"/>
    <child link="5_int_side_1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="5_int_side_2">
    <visual>
      <origin xyz="57.17 25.51 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.9 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="57.17 25.51 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 5.9 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_5_int_side_2" type="fixed">
    <parent link="base"/>
    <child link="5_int_side_2"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="5_int_side_3_left">
    <visual>
      <origin xyz="51.97 22.66 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="51.97 22.66 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_5_int_side_3_left" type="fixed">
    <parent link="base"/>
    <child link="5_int_side_3_left"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="5_int_side_3_right">
    <visual>
      <origin xyz="56.67 22.66 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="56.67 22.66 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_5_int_side_3_right" type="fixed">
    <parent link="base"/>
    <child link="5_int_side_3_right"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_1_left_wall">
    <visual>
      <origin xyz="48.87 23.16 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-5.0 -0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="48.87 23.16 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-5.0 -0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_1_left_wall" type="fixed">
    <parent link="base"/>
    <child link="6_sec_1_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_1_right_wall">
    <visual>
      <origin xyz="48.87 27.86 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-5.0 -0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="48.87 27.86 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-5.0 -0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_1_right_wall" type="fixed">
    <parent link="base"/>
    <child link="6_sec_1_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_1_left_conn">
    <visual>
      <origin xyz="46.37 23.2925 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -0.465 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="46.37 23.2925 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -0.465 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_1_left_conn" type="fixed">
    <parent link="base"/>
    <child link="6_sec_1_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_1_right_conn">
    <visual>
      <origin xyz="46.37 27.7275 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -0.465 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="46.37 27.7275 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -0.465 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_1_right_conn" type="fixed">
    <parent link="base"/>
    <child link="6_sec_1_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_2_left_wall">
    <visual>
      <origin xyz="43.71 23.425 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-5.32 -0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="43.71 23.425 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-5.32 -0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_2_left_wall" type="fixed">
    <parent link="base"/>
    <child link="6_sec_2_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_2_right_wall">
    <visual>
      <origin xyz="43.71 27.595 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-5.32 -0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="43.71 27.595 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-5.32 -0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_2_right_wall" type="fixed">
    <parent link="base"/>
    <child link="6_sec_2_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_2_left_conn">
    <visual>
      <origin xyz="41.05 23.42 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -0.21 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="41.05 23.42 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -0.21 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_2_left_conn" type="fixed">
    <parent link="base"/>
    <child link="6_sec_2_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_2_right_conn">
    <visual>
      <origin xyz="41.05 27.6 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -0.21 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="41.05 27.6 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -0.21 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_2_right_conn" type="fixed">
    <parent link="base"/>
    <child link="6_sec_2_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_3_left_wall">
    <visual>
      <origin xyz="39.27 23.415 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-3.56 -0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="39.27 23.415 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-3.56 -0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_3_left_wall" type="fixed">
    <parent link="base"/>
    <child link="6_sec_3_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_3_right_wall">
    <visual>
      <origin xyz="39.27 27.605 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-3.56 -0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="39.27 27.605 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-3.56 -0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_3_right_wall" type="fixed">
    <parent link="base"/>
    <child link="6_sec_3_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_3_left_conn">
    <visual>
      <origin xyz="37.49 23.7725 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -0.915 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="37.49 23.7725 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -0.915 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_3_left_conn" type="fixed">
    <parent link="base"/>
    <child link="6_sec_3_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_3_right_conn">
    <visual>
      <origin xyz="37.49 27.2475 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -0.915 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="37.49 27.2475 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -0.915 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_3_right_conn" type="fixed">
    <parent link="base"/>
    <child link="6_sec_3_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_4_left_wall">
    <visual>
      <origin xyz="35.585 24.13 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-3.81 -0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="35.585 24.13 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-3.81 -0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_4_left_wall" type="fixed">
    <parent link="base"/>
    <child link="6_sec_4_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_4_right_wall">
    <visual>
      <origin xyz="35.585 26.89 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-3.81 -0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="35.585 26.89 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-3.81 -0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_4_right_wall" type="fixed">
    <parent link="base"/>
    <child link="6_sec_4_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_4_left_conn">
    <visual>
      <origin xyz="33.68 23.645 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -1.17 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="33.68 23.645 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -1.17 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_4_left_conn" type="fixed">
    <parent link="base"/>
    <child link="6_sec_4_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_4_right_conn">
    <visual>
      <origin xyz="33.68 27.375 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -1.17 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="33.68 27.375 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-0.2 -1.17 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_4_right_conn" type="fixed">
    <parent link="base"/>
    <child link="6_sec_4_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_5_left_wall">
    <visual>
      <origin xyz="31.18 23.16 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-5.0 -0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="31.18 23.16 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-5.0 -0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_5_left_wall" type="fixed">
    <parent link="base"/>
    <child link="6_sec_5_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="6_sec_5_right_wall">
    <visual>
      <origin xyz="31.18 27.86 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-5.0 -0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="31.18 27.86 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="-5.0 -0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_sec_5_right_wall" type="fixed">
    <parent link="base"/>
    <child link="6_sec_5_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>
