<robot name="hallway">
  <link name="base">
    <visual>
      <origin xyz="22.68 0 -0.1" rpy="0 0 0"/>
      <geometry>
        <box size="45.36 5.07 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="22.68 0 -0.1" rpy="0 0 0"/>
      <geometry>
        <box size="45.36 5.07 0.2"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="50"/>
      <origin xyz="0 0 -1"/>
      <inertia ixx="50.0" ixy="0.0" ixz="0.0" iyy="50.0" iyz="0.0" izz="50.0"/>
    </inertial>
  </link>
  <link name="sec_1_left_wall">
    <visual>
      <origin xyz="2.265 1.71 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.53 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="2.265 1.71 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.53 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_1_left_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_1_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_1_right_wall">
    <visual>
      <origin xyz="2.265 -1.71 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.53 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="2.265 -1.71 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.53 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_1_right_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_1_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_1_left_conn">
    <visual>
      <origin xyz="4.53 2.045 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.87 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="4.53 2.045 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.87 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_1_left_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_1_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_1_right_conn">
    <visual>
      <origin xyz="4.53 -2.045 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.87 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="4.53 -2.045 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.87 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_1_right_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_1_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_2_left_wall">
    <visual>
      <origin xyz="6.71 2.38 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.36 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="6.71 2.38 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.36 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_2_left_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_2_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_2_right_wall">
    <visual>
      <origin xyz="6.71 -2.38 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.36 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="6.71 -2.38 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.36 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_2_right_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_2_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_2_left_conn">
    <visual>
      <origin xyz="8.89 2.23 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.5 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="8.89 2.23 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.5 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_2_left_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_2_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_2_right_conn">
    <visual>
      <origin xyz="8.89 -2.23 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.5 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="8.89 -2.23 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.5 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_2_right_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_2_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_3_left_wall">
    <visual>
      <origin xyz="11.94 2.08 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="6.1 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="11.94 2.08 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="6.1 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_3_left_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_3_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_3_right_wall">
    <visual>
      <origin xyz="11.94 -2.08 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="6.1 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="11.94 -2.08 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="6.1 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_3_right_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_3_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_3_left_conn">
    <visual>
      <origin xyz="14.99 1.79 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.78 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="14.99 1.79 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.78 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_3_left_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_3_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_3_right_conn">
    <visual>
      <origin xyz="14.99 -1.79 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.78 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="14.99 -1.79 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.78 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_3_right_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_3_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_4_left_wall">
    <visual>
      <origin xyz="16.765 1.5 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.55 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="16.765 1.5 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.55 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_4_left_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_4_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_4_right_wall">
    <visual>
      <origin xyz="16.765 -1.5 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.55 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="16.765 -1.5 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.55 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_4_right_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_4_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_4_left_conn">
    <visual>
      <origin xyz="18.54 1.9375 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 1.075 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="18.54 1.9375 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 1.075 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_4_left_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_4_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_4_right_conn">
    <visual>
      <origin xyz="18.54 -1.9375 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 1.075 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="18.54 -1.9375 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 1.075 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_4_right_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_4_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_5_left_wall">
    <visual>
      <origin xyz="21.295 2.375 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.51 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="21.295 2.375 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.51 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_5_left_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_5_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_5_right_wall">
    <visual>
      <origin xyz="21.295 -2.375 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.51 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="21.295 -2.375 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="5.51 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_5_right_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_5_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_5_left_conn">
    <visual>
      <origin xyz="24.05 2.405 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.26 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="24.05 2.405 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.26 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_5_left_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_5_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_5_right_conn">
    <visual>
      <origin xyz="24.05 -2.405 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.26 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="24.05 -2.405 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.26 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_5_right_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_5_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_6_left_wall">
    <visual>
      <origin xyz="26.41 2.435 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.72 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="26.41 2.435 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.72 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_6_left_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_6_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_6_right_wall">
    <visual>
      <origin xyz="26.41 -2.435 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.72 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="26.41 -2.435 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.72 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_6_right_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_6_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_6_left_conn">
    <visual>
      <origin xyz="28.77 2.0475 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.975 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="28.77 2.0475 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.975 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_6_left_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_6_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_6_right_conn">
    <visual>
      <origin xyz="28.77 -2.0475 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.975 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="28.77 -2.0475 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.975 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_6_right_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_6_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_7_left_wall">
    <visual>
      <origin xyz="30.77 1.66 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.0 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="30.77 1.66 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.0 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_7_left_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_7_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_7_right_wall">
    <visual>
      <origin xyz="30.77 -1.66 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.0 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="30.77 -1.66 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.0 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_7_right_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_7_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_7_left_conn">
    <visual>
      <origin xyz="32.77 1.9225 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.725 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.77 1.9225 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.725 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_7_left_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_7_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_7_right_conn">
    <visual>
      <origin xyz="32.77 -1.9225 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.725 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="32.77 -1.9225 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.725 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_7_right_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_7_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_8_left_wall">
    <visual>
      <origin xyz="34.865 2.185 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.19 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="34.865 2.185 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.19 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_8_left_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_8_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_8_right_wall">
    <visual>
      <origin xyz="34.865 -2.185 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.19 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="34.865 -2.185 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.19 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_8_right_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_8_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_8_left_conn">
    <visual>
      <origin xyz="36.96 2.025 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.52 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="36.96 2.025 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.52 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_8_left_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_8_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_8_right_conn">
    <visual>
      <origin xyz="36.96 -2.025 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.52 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="36.96 -2.025 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.52 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_8_right_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_8_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_9_left_wall">
    <visual>
      <origin xyz="39.305 1.865 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.69 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="39.305 1.865 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.69 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_9_left_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_9_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_9_right_wall">
    <visual>
      <origin xyz="39.305 -1.865 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.69 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="39.305 -1.865 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="4.69 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_9_right_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_9_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_9_left_conn">
    <visual>
      <origin xyz="41.65 2.15 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.77 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="41.65 2.15 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.77 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_9_left_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_9_left_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_9_right_conn">
    <visual>
      <origin xyz="41.65 -2.15 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.77 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="41.65 -2.15 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.77 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_9_right_conn" type="fixed">
    <parent link="base"/>
    <child link="sec_9_right_conn"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_10_left_wall">
    <visual>
      <origin xyz="43.505 2.435 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.71 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="43.505 2.435 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.71 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_10_left_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_10_left_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="sec_10_right_wall">
    <visual>
      <origin xyz="43.505 -2.435 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.71 0.2 3.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="43.505 -2.435 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="3.71 0.2 3.0"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_sec_10_right_wall" type="fixed">
    <parent link="base"/>
    <child link="sec_10_right_wall"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>
