<launch>

    <!-- launch gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find hallway_sim)/gazebo/emptyworld.world"/>
    </include>


    <!-- spawn elevator into gazebo -->
    <param name="elev_description" textfile="$(find hallway_sim)/urdf/elevator.urdf"/>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find hallway_sim)/urdf/elevator.urdf -urdf -z 0 -model elevator" />

    <rosparam file="$(find hallway_sim)/config/elevator_control.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/elevator" args="door_to_ground_joint_position_controller joint_state_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
      <remap from="/joint_states" to="/elevator/joint_states"/>
    </node>

    <node name="elevator_FSM" pkg="hallway_sim" type="elevator_FSM.py"/>
    <node name="elevator_control" pkg="hallway_sim" type="elevator_control.py"/>


    <!-- set robot model -->
    <arg name="model" default="$(find floatinghead_description)/urdf/floatinghead.urdf"/>

    <!-- initiate rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find floatinghead_description)/rviz/floatinghead.rviz" />
    <param name="robot_description" command="cat $(arg model)" />

    <!-- spawn robot -->
    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-file $(find floatinghead_description)/urdf/floatinghead.urdf -urdf -z .1 -model floatinghead" />
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find floatinghead_description)/rqt/floatinghead.perspective"/>


    <!-- run control nodes -->



</launch>
