<launch>

  <!-- launch gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hallway_sim)/gazebo/emptyworld.world"/>
  </include>

  <!-- spawn elevator into gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find hallway_sim)/urdf/elevator.urdf -urdf -z 0 -model room" />

</launch>
