<launch>

		<!-- set current time as ros parameter "start_time" -->
		<node name="timestamp" pkg="hallway_sim" type="timestamp.sh"/>

		<!-- generate random hallway -->
		<node name="gen_node" pkg="hallway_sim" type="gen_hallway.sh"/>

		<!-- launch gazebo world -->
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(find hallway_sim)/gazebo/emptyworld.world"/>
		</include>

		<!-- spawn hallway into world -->
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find hallway_sim)/urdf/random_hall.urdf -urdf -z 0 -x 0 -model random_hall" />

		<!-- set robot model -->
		<arg name="model" default="$(find lidar_nav)/urdf/lidar_body.urdf"/>

		<!-- initiate rviz -->
		<node type="rviz" name="rviz" pkg="rviz" args="-d $(find lidar_nav)/rviz/lidar_rviz.rviz" />
		<param name="robot_description" command="cat $(arg model)" />

		<!-- spawn lidar_nav robot -->
		<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-file $(find lidar_nav)/urdf/lidar_body.urdf -urdf -z .1 -x .5 -Y .3 -model floatinghead" />
		<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find lidar_nav)/rqt/floatinghead.perspective"/>

		<!-- run control nodes -->
		<node name="lidar_quad_node" pkg="hallway_sim" type="lidar_quad_node.py"/>
		<node name="gazebo_drive_node" pkg="hallway_sim" type="gazebo_drive_node.py"/>

		<!-- echo robot position to file -->
		<node name="robot_sub_node" pkg="hallway_sim" type="robot_sub_node.py"/>

</launch>
